<% layout('/layout/boilerplate') -%>
    <div class="row">
        <div class="col-lg-6">
            <div id='cluster-map'></div>
        </div>
        <div class="col-lg-6 border d-flex flex-column">
            <div>
                <h1 class='float-start'>All LEED Projects</h1>
                <a class='btn btn-primary float-end mt-2' href="/projects/new">Add A New LEED Project</a>
            </div>

            <div>
                <p class='text-muted'> You viewed this page
                    <%= views %> times
                </p>
            </div>

            <div class="overflow-scroll project-index mb-2">
                <% for(project of projects){ %>
                    <div class="card mb-3">
                        <div class="row g-0">
                            <% if(project.images.length!==0){ %>
                                <div class="col-md-6">
                                    <img class='img-fluid' src="<%=project.images[0].url%> " alt="">
                                </div>
                                <% } else{%>
                                    <div class="col-md-6">
                                        <img class='img-fluid' src="" alt="">
                                    </div>
                                    <% } %>
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%=project.name%>
                                                </h5>
                                                <!-- <p class='card-text'>
                                                        <%= project.description %>
                                                    </p> -->
                                                <p class='card-text mb-2'>
                                                    <small class="text-muted">
                                                        <%=project.location%>
                                                    </small>
                                                </p>
                                                <p class="card-text">
                                                    LEED Certification Level:
                                                    <%=project.certifiLevel %>
                                                </p>

                                                <a class='btn btn-info btn-sm' href="/projects/<%= project._id %> ">View
                                                    <%=project.name%></a>
                                            </div>
                                        </div>
                        </div>
                    </div>
                    <% } %>

            </div>
        </div>

    </div>


    <script>
        const mapBoxToken = '<%=process.env.MAPBOX_TOKEN%>';  // instead of hardcoding the token. Centralize the token
        const projects ={features:<%-JSON.stringify(projects) %>} 
    </script>
    <script src="/javascripts/clusterMap.js"></script>